<table class="table table-bordered table-responsive">
    <thead>
        <tr class="table-primary">
            <th scope="col">Clave</th>
            <th scope="col">Materia</th>
            <th scope="col">Div. de la mat.</th>
            <th scope="col">Profesor</th>
            <th scope="col">Correo</th>
            <th scope="col">Grupo</th>
            <th scope="col">Tipo pond.</th>
        </tr>
    </thead>
    <tbody *ngIf="tiraDeMaterias">
        <tr *ngFor="let materia of tiraMaterias">
            <td>{{materia.clave}}</td>
            <td>{{materia.materia}}</td>
            <td>{{materia.divicion}}</td>
            <td>{{materia.profesor}}</td>
            <td>{{materia.correo}}</td>
            <td>{{materia.grupo}}</td>
            <td>{{materia.ponderacion}}</td>
        </tr>
    </tbody>
</table>
