<section class="mt-4">
    <div class="row mt-4">
        <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control my-0 py-1 color-border" type="text" placeholder="Buscar alumno por nombre o registro" aria-label="search">
            <div class="input-group-append">
                <span class="input-group-text secondary-background lighten-3" id="basic-text1"><i class="zmdi zmdi-search"></i>
              </span>
            </div>
        </div>
    </div>
    <div class="row m-4" *ngIf="!seeProfile">
        <ng-container class="" *ngFor="let student of students;">
            <div class="col-12 col-sm-6 col-md-3 tarjetas card m-2 pointer" (click)="seeProfile=true" [routerLink]="['/inicio/estudiantes/'+student.registro]">
                <div class="card-header">
                    Registro: {{student.registro}}
                </div>
                <img class="card-img-top mt-3" src="{{student.foto}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text mt-0">{{student.nombre}}</p>
                    <footer class="text-muted">{{student.carrera}}</footer>
                </div>
            </div>
        </ng-container>
    </div>
    <!-- <ng-container class="mt-0" *ngIf="seeProfile">
        <app-profile></app-profile>
    </ng-container> -->
</section>