<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar(f)" #f="ngForm">
    <div class="container">
        <div class="form-group row">
            <label class="col-2 col-form-label">Registro</label>
            <div class="col-8">
                <input class="form-control" name="registro" type="text" placeholder="Registro"
                    formControlName="registro" [class.is-invalid]="registroValido">
                <small *ngIf="registroValido" class="text-danger">Ingrese un valor valido porfavor</small>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" name="nombre" type="text" placeholder="Nombre" formControlName="nombre"
                    [class.is-invalid]="nombreValido">
                <small *ngIf="nombreValido" class="text-danger">Ingrese un valor valido porfavor</small>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" name="apellido" type="text" placeholder="Apellido"
                    formControlName="apellido" [class.is-invalid]="apellidoValido">
                <small *ngIf="apellidoValido" class="text-danger">Ingrese un valor valido porfavor</small>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">Encargado</label>
            <div class="col-8">
                <input class="form-control" name="encargado" type="text" placeholder="Encargado"
                    formControlName="encargado" [class.is-invalid]="encargadoValido">
                <small *ngIf="encargadoValido" class="text-danger">Ingrese un valor valido porfavor</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Fecha</label>
            <div class="col-8">

                <input class="form-control" name="fecha" type="text" placeholder="Fecha" formControlName="fecha"
                    [class.is-invalid]="fechaValido">
                <small *ngIf="fechaValido" class="text-danger">Ingrese un valor valido porfavor</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Hora</label>
            <div class="col-8">
                <input class="form-control" name="hora" type="text" placeholder="Hora" formControlName="hora"
                    [class.is-invalid]="horaValido">
                <small *ngIf="horaValido" class="text-danger">Ingrese un valor valido porfavor</small>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">Área de formación Integral</label>
            <div class="col-8">
                <select class="custom-select" formControlName="area" [class.is-invalid]="areaValido">
                    <option disabled selected value="">Selecciona una opción</option>
                    <option value="GOE">GOE</option>
                    <option value="Tutorias">Tutorias</option>
                    <option value="Asesorias">Asesorias</option>
                </select>
                <small *ngIf="areaValido" class="text-danger">Favor de seleccionar un área</small>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">Nota</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Nota o razón de la cita" formControlName="nota">
            </div>
        </div>

        <div style="text-align: center;">
            <button type="submit" class="btn btn-outline-success top" style="margin-bottom: 10px;">Agendar Cita</button>

        </div>
    </div>
</form>

<!-- <hr>
<pre>
Estado del formulario : {{ forma.valid }}
<br>
Status: {{ forma.status }}
</pre>
<pre>
{{ forma.value | json }}
</pre> -->