<div class="container">
    <div style="align-items: center; text-align: center;">
        <h3 style="">Graficas Asesorías</h3>
    </div>
    <div *ngIf="graficas && this.lineaChartData.length > 0" class="row">

        <div class="col-md-3 col-lg-4"></div>
        <div class="col-md-6 col-lg-4">
            <app-graficas [lineaChartType]="'line'" [lineaChartData]="lineaChartData" [lineaChartLabels]="lineaChartLabels"></app-graficas>
        </div>
        <div class="col-md-3 col-lg-4"></div>
    </div>


    <div style="align-items: center; text-align:center; font-size: 20px;">
        <span *ngIf="!graficas && !vacio" style="color: blue;"><i class="zmdi zmdi-rotate-right zmdi-hc-spin"> </i> Cargando datos espere </span>
        <span *ngIf="vacio && !graficas" style="color: red;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No hay datos que graficar</span>
    </div>
    <!-- <div style="align-items: center; text-align:center; font-size: 20px; color: red;">
    </div> -->
    <hr>

    <hr>
    <button type="button " class="btn btn-block " [ngClass]="{ 'btn-outline-info': observaciones, 'btn-info': !observaciones} " (click)="observaciones=! observaciones ">Observaciones
        <i class="zmdi zmdi-chevron-down zmdi-hc-lg no-outline" *ngIf="!observaciones"></i>
        <i class="zmdi zmdi-chevron-up zmdi-hc-lg no-outline" *ngIf="observaciones"></i>
    </button>
    <div *ngIf="observaciones " class="col ">
        <button type="button " class="btn btn-outline-warning btn-block " style="margin-top: 10px; " routerLink="../formObserv">+ Agregar Observacion</button>

        <!-- tarjetas de las observaciones  -->
        <div *ngFor=" let nota of notas; let i=index ">
            <div *ngIf="nota.area != 'GOE' && nota.area != 'Tutorias'" class="card " style="margin-top: 10px; ">
                <div class="card-header ">
                    <span class=" ">{{nota.fecha}} - {{nota.hora}}</span>
                    <!-- <span class=" ">{{nota.date | date :'fullDate'}} - {{nota.date | date :'shortTime'}}</span> -->
                    <br>
                    <span>Encargado: {{nota.encargado}}</span>
                    <br>
                    <!-- <span>Materia: {{nota.area}}</span> -->

                </div>
                <div class="card-body ">
                    <p class="card-text "><strong>Observación:</strong> <br>{{getNota(i)}}</p>
                    <!-- <button class="btn btn-primary btn-block " (click)="muestra(i) ">Ver Observación completa</button> -->
                </div>
            </div>
        </div>
    </div>

    <hr>
    <button type="button " class="btn btn-block " [ngClass]="{ 'btn-outline-info': clases, 'btn-info': !clases} " (click)="clases=! clases " style="margin-bottom: 10px;">Clases
        <i class="zmdi zmdi-chevron-down zmdi-hc-lg no-outline" *ngIf="!clases"></i>
        <i class="zmdi zmdi-chevron-up zmdi-hc-lg no-outline" *ngIf="clases"></i>
    </button>
    <div *ngIf="clases " class="col">

        <table class="table table-responsive table-bordered ">
            <thead style="text-align: center; " class="thead-dark ">
                <tr>
                    <th></th>
                    <th></th>
                    <th colspan="2 ">1er Parcial</th>
                    <th colspan="2 ">2do Parcial</th>
                    <th colspan="2 ">3er Parcial</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Materia</th>
                    <th>Profesor</th>
                    <th>Asistencia</th>
                    <th>Calificación</th>
                    <th>Asistencia</th>
                    <th>Calificación</th>
                    <th>Asistencia</th>
                    <th>Calificación</th>
                    <th>Promedio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of this.class; let i= index " style="text-align: center; ">
                    <td>{{c.name}}</td>
                    <td>{{c.attendant}}</td>
                    <td><input style="width: 50px; text-align: center;" value="{{c.asistenciaP1}}" id="asistenciaP1-{{c.id}}" /></td>
                    <td><input style="width: 50px; text-align: center;" value="{{c.partial1}}" id="partial1-{{c.id}}" /></td>
                    <td><input style="width: 50px; text-align: center;" value="{{c.asistenciaP2}}" id="asistenciaP2-{{c.id}}" /></td>
                    <td><input style="width: 50px; text-align: center;" value="{{c.partial2}}" id="partial2-{{c.id}}" /></td>
                    <td><input style="width: 50px; text-align: center;" value="{{c.asistenciaP3}}" id="asistenciaP3-{{c.id}}" /></td>
                    <td><input style="width: 50px; text-align: center;" value="{{c.partial3}}" id="partial3-{{c.id}}" /></td>
                    <td>{{getAverage(i) | number : '1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
        <div style="align-items: center; text-align: center;">
            <button type="button " class="btn btn-outline-success " style="margin-bottom: 10px; width: auto;" (click)="guardar()"><i class="fa fa-cloud"></i>Guardar Cambios</button>
            <button type="button " class="btn btn-outline-warning btn-block " style="margin-bottom: 10px; " (click)="open(content)">+ Agregar Clase</button>
        </div>

    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar Clase</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" [formGroup]="forma" #f="ngForm">
            <div class="container">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Materia</label>
                    <div class="col-8">
                        <input class="form-control" name="materia" type="text" placeholder="Materia" formControlName="materia" [class.is-invalid]="materiaValido">
                        <small *ngIf="materiaValido" class="text-danger">Ingrese un valor valido</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Profesor</label>
                    <div class="col-8">
                        <input class="form-control" name="profesor" type="text" placeholder="Profesor" formControlName="profesor" [class.is-invalid]="profesorValido">
                        <small *ngIf="profesorValido" class="text-danger">Ingrese un valor valido</small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="clickAgregar(modal)">Agregar</button>
    </div>
</ng-template>