<div class="row boton container">
    <i class="zmdi zmdi-chevron-left zmdi-hc-5x mb-1 float-left no-outline pointer" [routerLink]="['/inicio/estudiantes']"></i>
    <div class="col">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn card-header" routerLinkActive routerLink="perfil">Perfil</button>
            <button type="button" class="btn card-header" routerLinkActive routerLink="citas">Citas</button>
            <button type="button" class="btn card-header" routerLinkActive routerLink="tutorias">Tutorias</button>
            <button type="button" class="btn card-header" routerLinkActive routerLink="goe">GOE</button>
            <button type="button" class="btn card-header" routerLinkActive routerLink="asesorias">Asesorias</button>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>