<section class="content">
    <div class="card border-0">
        <div class="row no-gutters justify-content-around">
            <div class="col-2 image-responsive full-column h-80">
                <img class="card-img" src="{{student.photo}}" alt="Card image cap">
            </div>
            <div class="col-12 mt-3 mt-md-0 col-md-6 full-column h-100">
                <div class="card-header">
                    Registro:
                    <strong>{{student.id}}</strong>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="text-muted">Nombre: </span> {{student.name}}
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Nivel: </span> Ingeniería
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Carrera: </span> {{student.major}}
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Tipo: </span> {{'Regular'}}
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Grupo: </span> M
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Turno: </span> {{'vespertino'}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row no-gutters m-2 text-center justify-content-around">
            <div class="col-12 full-column pointer">
                <div class="card-header section-2" (click)="isTimetableVisible = !isTimetableVisible">Horario 
                    <i class="zmdi zmdi-chevron-down zmdi-hc-lg no-outline" *ngIf="!isTimetableVisible"></i>
                    <i class="zmdi zmdi-chevron-up zmdi-hc-lg no-outline" *ngIf="isTimetableVisible"></i>
                </div>
                <app-timetable [isMorningShift]="false" *ngIf="isTimetableVisible"></app-timetable>
            </div>
        </div>
        <div class="row no-gutters m-2 text-center justify-content-around">
            <div class="col-12 full-column pointer">
                <div class="card-header section-2" (click)="areSubjectsVisible = !areSubjectsVisible">Tira de Materias
                    <i class="zmdi zmdi-chevron-down zmdi-hc-lg no-outline" *ngIf="!areSubjectsVisible"></i>
                    <i class="zmdi zmdi-chevron-up zmdi-hc-lg no-outline" *ngIf="areSubjectsVisible"></i>
                </div>
                <app-subjects  *ngIf="areSubjectsVisible"></app-subjects>
            </div>
        </div>
    </div>
</section>